<div class="row">
    <div class="container">
        <div class="logo">
            <input type="image" src="../../../assets/APLogo.png" id="logoArgProg" name="logoArgProg" (click)="home()">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://twitter.com/"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/beto_penayo/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/penayoalberto/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/bee344"><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</div>
