.gradient-custom {
    /* fallback for old browsers */
    background: #6E85B7;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(110, 133, 183, 1), rgba(248, 249, 215, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(110, 133, 183, 1), rgba(248, 249, 215, 1));

    font-family: 'Sora', sans-serif;
    font-weight: 300;

}

.btn {
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}