<div class="row">
    <h1>Estudios academicos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoestudio" *ngIf="isLogged">
            Agregar Estudios
        </button>
    </div>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Estudios of estu">
                    <td><i class="bi bi-vector-pen"></i></td>
                    <td>
                        <h2>{{Estudios.nombreS}}</h2>
                    </td>
                    <td>
                        <h3>{{Estudios.fechaS}}</h3>
                    </td>
                    <td>
                        <h3>{{Estudios.almaMaterS}}</h3>
                    </td>
                    <td>
                        <h3>{{Estudios.descripcionS}}</h3>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editestu/{{Estudios.id}}"><i
                                class="bi bi-pencil-fill"></i>Editar</button></td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Estudios.id)"><i
                                class="bi bi-trash-fill"></i>Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>