<div class="row">
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div>
                <form (ngSubmit)="onCreate()" nonvalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreP">Nombre del proyecto</label>
                        <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionP">Descripcion del proyecto</label>
                        <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                            [(ngModel)]="descripcionP" required>
                    </div>
                    <button class="btn btn-primary">
                        Agregar proyecto
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>